/*-- Reset --*/
html, body {
  /* Overflow to x so that there is no item displayed outside the body */
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: large;

}

/*============= NAVIGATION =============*/

.navbar-brand img{
  height:2.8rem;
}
.navbar {
    background: linear-gradient(to right, #f2f2f2, #FBFBFB);
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .25);
}

nav-item{
  padding : .4rem;
}
.nav-link{
  color:black !important;
}
.nav-link:hover{
  color: #396AFC !important;

}
/*============= CAROUSEL =============*/
.carousel-inner{
  max-height: 35rem !important;
}


/*---Change Carousel Transition Speed --*/
.carousel-item-next, .carousel-item-prev,.corouse-item.active{
  transition: transform 1.2s ease;
}
.carousel-indicators li{
  width: 40px;
  height: 5px;
  margin-right: 4px;
  margin-left: 4px;
}

/*-- Carousel Content --*/
.carousel-caption{
  position : absolute;
  top: 47%;
  /* move the column up to 50% of its own height */
  transform:translateY(-50%);
}

.bg-dark{
  background-color: rgba(0,0,0,0.44) !important;
  border-radius: 1.5rem;
  padding: 1rem;
}
.bg-white{
  background-color: rgba(255,255,255,0.44) !important;
  border-radius: 1.5rem;
  padding: 1rem;
}
.carousel-caption {
  font-size:2.3rem;
  font-weight:300;
}
p.lead {
  font-size:1.4rem;
}

/*============= COLUMN CONTENT =============*/

.fa-square{
  opacity:.05;
}


/*============= FOOTER =============*/
footer{
  background-color: #383838;
  padding:1rem 2rem 1rem;
}

footer a,
.socket a{
  color:white;
  text-decoration: none;
}
.fa-facebook :hover,
.fa-linkedin :hover
{
  color:#396AFC;

}
.fa-twitter :hover{
  color:deepskyblue;
}
.fa-instagram-square :hover{
  color:crimson;
}


/*============= SOCKET =============*/
.socket{
  background-color: #222222;
  border-top: 0.1rem solid grey;
}

/*============= ABOUT =============*/
.sectionTag{
  padding: 16px 0;
}
.paras{
  padding: 0px 65px;
}


/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
  .carousel-caption h3{
    font-size:1.3rem;
  }
}
/* Devices under 992px (xl) */
@media (max-width: 991.98px) {
  .carousel-indicators li{
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
  }
  .sub-contact{
    font-size: 1.5rem;;
  }
}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {
  .navbar-brand img{
    height : 2.5rem;
  }
  .navbar{
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
  }
  .navbar-toggler{
    transform:scale(.9);
  }
}
.main-contact-heading{
  font-size: 2.1rem;
}
.sub-contact{
  font-size: 1.2rem;;
}
/* Devices under 576px (sm) */
@media (max-width: 575.98px) {
  .navbar-brand img{
    height : 2.3rem;
  }
  .navbar{
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
  }
  .navbar-toggler{
    transform:scale(.9);
  }
  .main-contact-heading{
    font-size: 2rem;
  }
  .sub-contact{
    font-size: 1.2rem;;
  }
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}


